includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 9

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
